@import '../../assets/variables';

.ep {
  animation: opacity .7s;
  z-index: 0;
  position: relative;
  padding: 5rem 0 0 3rem;

  .backEpisode {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

    .buttonSlider {
      z-index: 2;
      font-size: 40px;
      position: relative;
      border: none;
      margin-top: 6rem;

      > button {
        position: relative;
        border: none;
        width: 40px;
        height: 197px;
        background-color: #2a2a2c;
        margin-right: -0.1rem;

        &:hover {
          background-image: linear-gradient(to left, #0d1011, transparent);
        }

      }
    }


    .episodes {
      display: inline-flex;
      margin-top: 2rem;
      overflow: hidden;
      padding: 5% 0 2rem 0;
      width: 90%;

      .episodeLi {
        display: flex;
        margin-left: 1rem;

        > .episode_translition {
          transition: translate;
          transition-property: transform;
          transition-duration: .4s;
          transition-timing-function: ease-in-out;
        }

      }


      .episodePreview {
        transition: 0.8s;
        color: $gray;
        margin-left: 2rem;

      }

      .episodePreview:hover {
        transform: scale(1.1);
        color: #fff;

      }

      .episodeDescription {
        display: flex;
        margin-top: 1rem;


      }
    }
  }
}