@import '../../../assets/variables';

.search{
  margin-left: 3.5rem;
  display: flex;
  align-items: center;
  background-color: #000;
  border: 1px solid rgba($gray, 0.4);
  padding: 0.5rem 1rem;
  justify-content: space-between;
  transition: .7s all;

  > div {
    display: flex;
    align-items: center;
  }

  input{
    background-color: transparent;
    outline: none;
    color: #fff;
    margin-left: 0.5rem;
    border: none;
    &::placeholder{
      color: $gray;
    }
  }
  .autoComplete{
    position: absolute;
    width: 25%;
    background: #0f1011;
    left: 14rem;
    top: 3.5rem;
    list-style: none;
    margin: 0;
    padding: 5px;
    box-shadow: 10px 10px 20px black;
    z-index: 99;
    border-radius: 10px;
    border: 1px solid #575757;
    max-height: 240px;
    height: auto;
    overflow: auto;
    animation: opacity .3s;

    &__img{
      width: 70px;

      &:hover{
        transform: scale(1.1);
        transition: translate;
        transition-property: transform;
        transition-duration: .4s;
        transition-timing-function: ease-in-out;
      }
    }
    &__list{
      padding: 5px;

    &:hover{
      background: #000000;
      cursor: pointer;
      transition: cubic-bezier(1, 0, 0, 1 ) .3s all;
    }
      >a{
        display: flex;
        flex-direction: row;
        color: #9b9a97;
        align-items: center;
      }
  }
    &__item{
      padding: 10px;
      color: #9b9a97;
      &:hover{
        color: white;
        transition: cubic-bezier(1, 0, 0, 1 ) .3s all;
      }
      &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      &__watch{
        background: #c62e21;
        width: auto;
        height: 1.8rem;
        display: flex;
        align-items: center;
        padding: 0 5px 0 5px;

        &_icon{
          >i{
            color: white;
            margin-right: 5px;
          }
        }
        &_text{
          color: white;
          font-size: 12px;
          font-weight: 500;
          line-height: 3;
        }
      }
    }
  }

  i{
    color: $gray;
    font-size: 20px;
  }
}