.wrapper {
  display: flex;
  flex-direction: row;
  animation: opacity .6s;

  .film {
    display: inline-flex;

    .main {
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      height: 200px;
      transition: 0.8s;

      &:hover{
        transform: scale(1.1);
      }

      .rating {
        color: #fff;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0 0 5px;
        border-radius: 20px;
      }
    }

    .filmLib {
      display: flex;
      margin: 20px;
      cursor: pointer;
      animation: opacity .6s;

      > a {
        text-decoration: none;
        display: flex;
        flex-direction: column;

        > span {
          color: #fff;
        }
      }
    }
  }
}