.wrapper{
  display: flex;
  flex-direction: row;
  animation: opacity .6s;
  margin-top: 5rem;

  &_genre{
    display: flex;
    flex-direction: column;
    max-width: 82%;

    >.loader{
      position: absolute;
      top: 40%;
      left: 48%;
    }
    }
  }
