.wrapper{
  display: flex;
  flex-direction: row;
  animation: opacity .6s ;

  .film{
    display: inline-flex;
  }

  .filmLib {
    display: flex;
    margin: 20px;
    cursor: pointer;
    animation: opacity .6s;

    > a {
      text-decoration: none;
      display: flex;
      flex-direction: column;

      > img {
        transition: 0.8s;

        &:hover {
          transform: scale(1.2);
        }
      }

      > span {
        color: #fff;
      }
    }
  }
}