$gray : #9b9a97;
$red: #c63e21;

@keyframes opacity {
  from{
    opacity: 0;
  }
  to {
    opacity: .8;
  }
}

:root{
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 10);
}

@font-face {
  font-family: Raleway-c;
  src: url(fonts/raleway-regular.woff2);
}

@font-face {
  font-family: Outfit-c;
  src: url(fonts/outfit-regular.woff2);
}