body,
html{
  background-color: #0f1011;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

i{
  cursor: pointer;
}

div::-webkit-scrollbar {
  width: 10px;               /* ширина всей полосы прокрутки */
}

div::-webkit-scrollbar-track {
  background: #575757;        /* цвет зоны отслеживания */
}

div::-webkit-scrollbar-thumb {
  background-color: #0f1011;    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
  border: 1px solid #c62e21;  /* отступ вокруг бегунка */
}